@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Montserrat:ital,wght@0,700;0,800;1,700;1,800&display=swap');

.hide {
  display: none !important;
}
body {
  position: relative;
  background-image: url('assets/bg_uzb_desk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  max-width: 1456px;
}
.header {
  /* position: absolute; */
  max-width: 1456px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
  padding-top: 50px;
  /* top: 0;
  right: 0; */
}
.a_logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo {
  width: 413px;
  height: 47px;
  background-image: url('assets/logo_megapari_desk.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 70px;
}
.body_container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.body {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 75px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.body_text {
  font-family: 'Inter';
  max-width: 550px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 35px;

color: #FFFFFF;
}
.body_btn {
  width: 428px;
  height: 86px;
  background: linear-gradient(266.47deg, #FE2F47 12.32%, #AB0015 88.89%);
  border-radius: 100px;
  font-family: 'Inter';
  /* font-style: italic; */
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.9s;
  animation-name: pulseBtn;
  transform: scale(1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.body_btn:hover, .body_btn:active {
  background: linear-gradient(266.47deg, #C9031B 12.32%, #FE2F47 88.89%);
}
@keyframes pulseBtn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}
.lang_selector {
  position: relative;
}
.lang_picker {
  width: 132px;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang_list {
  position: absolute;
  top: calc(100% + 10px);
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 110px;
  gap: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list_el {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  width: 92px;
  height: 34px;
  padding-right: 5px;
}
.list_el:hover {
  cursor: pointer;
}
.list_el:hover > .el_name {
  color: rgb(59, 59, 59);
}
.el_flag {
  height: 34px;
  width: 51px;
  min-height: 34px;
  min-width: 51px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.el_name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 114.7%;
  color: #FFFFFF;
}
.uzb > .el_flag {
  background-image: url('assets/flag_uzb.png');
}
.tr > .el_flag {
  background-image: url('assets/flag_tr.png');
}

@media (max-width: 500px) {
  body {
    align-items: flex-start;
    background-image: url('./assets/bg_uzb_desk.jpg');
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .header {
    /* position: static; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 25%;
  }
  .lang_selector {
    transform: scale(0.6);
  }
  .container {
    max-width: 310px;
  }
  .a_logo {
    width: 159px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 159px;
    height: 20px;
    margin-bottom: 0px;
  }
  .body_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body {
    /* min-height: 600px;
    justify-content: space-between; */
    /* max-height: 550px; */
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    align-items: end;
    justify-content: center;
    justify-items: center;
    height: 80vh;
  }
  .body_text {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    max-width: 320px;
    margin-bottom: 10px;
    text-align: center;
  }
  .body_btn {
    width: 338px;
    height: 86px;
    font-size: 30px;
    line-height: 36px;
  }
  .title {
    font-size: 36px;
    line-height: 122.52%;
    letter-spacing: 0.03em;
    text-align: center;
    max-width: 308px;
  }
}
